  <div class="about">
    <h2>About</h2>

    <p>'Out of Context' was completed as project for General Assembly Atlanta's Web Development Immersive program. The basic requirements:</p>

    <ul>
      <li>Use an external API.</li>
      <li>Use a front-end framework.</li>
      <li>Use Ruby on Rails only. No javascript.</li>
      <li>Implement user login/authentication.</li>
      <li>Two or more models.</li>
      <li>Full CRUD functionality.</li>
    </ul>

    <div class="about-links">

      <p>github: <a href="https://github.com/jacobbaum/out_of_context">github.com/jacobbaum/out_of_context</a></p>

      <p>email: <a href="mailto:jacobbaum@gmail.com">jacobbaum@gmail.com</a></p>

    </div>
  </div>